*.a
*.d
*.o
*.so
*.htm
*.html
*.orig
*.txt
*.exe
*.dll
*.bak
*.cbTemp
.DS_Store
CMakeLists.txt.user
.dep.inc
Makefile
obj/
bin/
build/
nbproject/
dist/
data/
save/
opentomb-code.cscope_file_list
opentomb-code.layout
OpenTomb\.xcodeproj/project\.xcworkspace
OpenTomb\.xcodeproj/xcuserdata
syntax: glob