*.a
*.d
*.o
*.so
*.orig
*.exe
*.dll
*.bak
*.log
screen_*.*
*.bmarks
*.cbp
*.cscope_file_list
*.depend
*.layout
*.cbTemp
.DS_Store
CMakeLists.txt.user
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
.dep.inc
Makefile
lib/
obj/
bin/
build/
nbproject/
cbproject/
prj/
dist/
data/
save/
OpenTomb\.xcodeproj/project\.xcworkspace
OpenTomb\.xcodeproj/xcuserdata

3rdparty/Boost
3rdparty/Bullet
