[submodule "3rdparty/freetype2"]
	path = 3rdparty/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "3rdparty/libbullet/bullet"]
	path = 3rdparty/libbullet/bullet
	url = https://github.com/bulletphysics/bullet3.git
