*.a
*.d
*.o
*.so
*.orig
*.exe
*.dll
*.bak
*.log
*.cbTemp
.DS_Store
CMakeLists.txt.user
.dep.inc
Makefile
lib/
obj/
bin/
build/
nbproject/
cbproject/
prj/
dist/
data/
save/
opentomb-code.bmarks
opentomb-code.cbp
opentomb-code.cscope_file_list
opentomb-code.depend
opentomb-code.layout
OpenTomb\.xcodeproj/project\.xcworkspace
OpenTomb\.xcodeproj/xcuserdata

